.footer {
  min-height: 50px;
  line-height: 50px;
  font-size: 18px;
  margin-top: 10px;
  border-top: 1px solid #CCC;
  box-shadow: 0 -2px 4px #EEE;
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
}