<div class="container-fluid footer">
  <div class="row">
    <div class="col">
      <a href="#" class="social-icon facebook" (click)="loginWithFacebook()" [ngClass]="{offline: !loggedIn.facebook, online: loggedIn.facebook}" data-toggle="modal" data-target="#myModal"></a>
      <a href="#" class="social-icon twitch offline"></a>
      <a href="#" class="social-icon instagram offline"></a>
      © <a href="https://github.com/Bereblucha/IoTwitch">IoTwitch</a> by <a href="https://facebook.com/berbeluchayt">Berbelucha</a>
    </div>
  </div>
</div>
