.days {
  margin-top: 30px;
  .day {
    width: 64px;
    position: absolute;
    left: 50px;
    margin-left: -31px;
    background-color: white;
    text-align: center;
    .number {
      width: 64px;
      height: 64px;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-top: 1px solid #ccc;
      line-height: 64px;
      color: #303030;
      font-size: 42px;
    }
    .month {
      width: 64px;
      height: 24px;
      background-color: #303030;
      color: white;
      font-size: 16px;
    }
  }
}
.posts {
  margin-top: 30px;
}
