<div class="col-12">
  <div class="row">
    <div class="col-1 days">
      <div class="day">
        <div class="number">{{day}}</div>
        <div class="month">{{month}}</div>
      </div>
    </div>
    <div class="col-11 posts">
      <div class="row">
        <div class="col-3" *ngFor="let card of cards">
          <app-social-card [message]="card.message" [date]="card.date"
                           [image]="card.full_picture" [platform]="card.platform"></app-social-card>
        </div>
      </div>
    </div>
  </div>
</div>
