.calendar-day {
  border-bottom: 1px solid #CCC;
  box-shadow: 0 2px 4px #EEE;
  padding-bottom: 10px;
  margin-bottom: 10px;
  .card-title {
    color: #303030;
    line-height: 30px;
  }

  .facebook {
    background-color: transparentize(blue, 0.4);
    box-shadow: 0 2px 5px transparentize(blue, 0.4);
  }
  .twitter {
    background-color: transparentize(purple, 0.4);
    box-shadow: 0 2px 5px transparentize(purple, 0.4);
  }
  .instagram {
    background-color: transparentize(red, 0.4);
    box-shadow: 0 2px 5px transparentize(red, 0.4);
  }
}